.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__title{
    font-weight: bold;
    font-size: 30px;
}

.header__ul{
    display: flex;
    align-items: center;
    gap: 1rem;          
}

.header__li{

}

.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #e6e6e6;  
}