.FilterTable{
    padding: 0 1.5rem;
    margin-top: 1.3rem;
}
.FilterTable__ul{
    display: flex;
    gap: 10px;
}
.FilterTable__li{

}

.FilterTable__a{
    font-size: 12px;
    padding: 0.3rem .4rem;
    border-radius: 1.5rem;

}

.FilterTable__a_active{
    font-size: 12px;
    padding: 0.3rem .4rem;
    border-radius: 1.5rem;
    background-color: rgba(98, 58, 235, .1);
    color: #623aeb;
    font-weight: 500;
}
